<div
    id="banner-home"
    class="main-container centered"
>
    <h2
        class="title"
        id="title-home"
    >
        <a
            class="link"
            href="/about"
        >
            Discover Arya Stark</a>
    </h2>
</div>